<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% seo %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | relative_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <button id="dark-mode-toggle" style="background: none; border: 1px solid #fff; color: #fff; cursor: pointer; padding: 5px 10px; border-radius: 5px; margin-top: 10px;">
          🌓 Toggle Mode
        </button>

        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}
      </header>
      <section>
        {{ content }}
      </section>
    </div>

    <script>
      const btn = document.getElementById("dark-mode-toggle");
      const currentTheme = localStorage.getItem("theme");

      if (currentTheme === "dark") {
        document.body.classList.add("dark-mode");
      }

      btn.addEventListener("click", function() {
        document.body.classList.toggle("dark-mode");
        let theme = "light";
        if (document.body.classList.contains("dark-mode")) {
          theme = "dark";
        }
        localStorage.setItem("theme", theme);
      });
    </script>
  </body>
</html>